In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_sales=pd.read_csv('data/sales_train.csv.gz')
test_sales=pd.read_csv('data/test.csv.gz')

In [4]:
train_sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

# predict using the last month(october)

In [6]:
base_model=train_sales[train_sales.date_block_num==33].groupby(["shop_id", "item_id"],as_index=False).sum()[["shop_id","item_id","item_cnt_day"]]
base_model["item_cnt_day"].clip(0,20,inplace=True)
base_model

       shop_id  item_id  item_cnt_day
0            2       31           1.0
1            2      486           3.0
2            2      787           1.0
3            2      794           1.0
4            2      968           1.0
5            2      988           1.0
6            2     1075           1.0
7            2     1121           1.0
8            2     1377           1.0
9            2     1387           1.0
10           2     1389           1.0
11           2     1466           2.0
12           2     1486           1.0
13           2     1523           1.0
14           2     1534           1.0
15           2     1535           1.0
16           2     1540           2.0
17           2     1556           1.0
18           2     1560           1.0
19           2     1563           1.0
20           2     1569           1.0
21           2     1571           1.0
22           2     1578           4.0
23           2     1579           1.0
24           2     1583           9.0
25           2     1586           1.0
26           2     1813           1.0
27           2     1847           2.0
28           2     1857           1.0
29           2     1876           1.0
...        ...      ...           ...
31501       59    19894           1.0
31502       59    19985           1.0
31503       59    20303           1.0
31504       59    20305           1.0
31505       59    20335           1.0
31506       59    20355           1.0
31507       59    20392           1.0
31508       59    20604           2.0
31509       59    20614           1.0
31510       59    20629           1.0
31511       59    20730           1.0
31512       59    20751           1.0
31513       59    20866           4.0
31514       59    20949          19.0
31515       59    21361           1.0
31516       59    21364           1.0
31517       59    21369           2.0
31518       59    21377           1.0
31519       59    21386           1.0
31520       59    21404           1.0
31521       59    21427           1.0
31522       59    21449           2.0
31523       59    21672           1.0
31524       59    21811           1.0
31525       59    21812           1.0
31526       59    22087           6.0
31527       59    22088           2.0
31528       59    22091           1.0
31529       59    22100           1.0
31530       59    22102           1.0

[31531 rows x 3 columns]

In [7]:
test_sales.shape

(214200, 3)

In [8]:
submission=pd.merge(test_sales, base_model, how="left", left_on=["shop_id","item_id"], right_on = ["shop_id","item_id"])
submission=submission[["ID","item_cnt_day"]]
submission.columns=["ID","item_cnt_month"]
submission.fillna(0,inplace=True)
submission.shape

(214200, 2)

In [13]:
submission.head()

   ID  item_cnt_month
0   0             0.0
1   1             0.0
2   2             1.0
3   3             0.0
4   4             0.0

In [14]:
submission.to_csv('base_model.csv',index=False)
# Public Score 1.16777
#  Private Score 1.17272

In [16]:
def get_submission_using_previous_month(month):
    base_model=train_sales[train_sales.date_block_num==month].groupby(["shop_id", "item_id"],as_index=False).sum()[["shop_id","item_id","item_cnt_day"]]
    base_model["item_cnt_day"].clip(0,20,inplace=True)
    submission=pd.merge(test_sales, base_model, how="left", left_on=["shop_id","item_id"], right_on = ["shop_id","item_id"])
    submission=submission[["ID","item_cnt_day"]]
    submission.columns=["ID","item_cnt_month"]
    submission.fillna(0,inplace=True)
    return submission

In [18]:
submission2=get_submission_using_previous_month(32)
submission2.to_csv('base_model32.csv',index=False)